body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 500px;
    align-self: flex-start;
    align-items: left;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="range"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Makes sure the input width stays within container */
}

button {
    background-color: #0075ff;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0046C5;
}

.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center; /* To center the text of h1 and h2 */
}

img {
    max-width: 100%; /* To ensure the image is responsive and doesn't overflow */
    height: auto; /* To maintain the aspect ratio of the image */
}